body {
  background-color: black;
 color: white; 
}

h1 {
  font-size: 3.5em;
  margin-bottom: 50px;
}
button {
 color: black;
}

#icon {
 width: 100%;
  font-size: 2em;
   padding: 15px;
}

button, #icon {
  margin-top: 20px;
}
